.md-grid {
  max-width: 90rem;
}

.screenshot-img {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 1.5rem auto;
}

/* H1 = lighter, more subtle */
.md-typeset h1 {
  color: var(--md-default-fg-color--light);
  font-weight: 575;
}

/* H2 = primary strong heading */
.md-typeset h2 {
  color: var(--md-default-fg-color);
  font-weight: 500;
  border-bottom: 1px solid var(--md-default-fg-color--lightest);
  padding-bottom: 0.25rem;
  margin-top: 2rem;
}

.md-typeset h2 {
  border-bottom: 1px solid #9c9c9c;
}


/* H3 = still strong, slightly less emphasis */
.md-typeset h3 {
  color: var(--md-default-fg-color);
  font-weight: 475;
}

/* side by side */

.api-example-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  align-items: start;
  margin: 1.5rem 0;
}

.api-example-grid>div {
  min-width: 0;
}

@media screen and (max-width: 900px) {
  .api-example-grid {
    grid-template-columns: 1fr;
  }
}


.api-example-grid h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.api-example-grid .highlight {
  margin-top: 0;
}

.md-grid {
  max-width: 1500px;
}

/* body text size */
.md-typeset {
  font-size: 0.72rem;
}

/* table text size */
.md-typeset table:not([class]) {
  font-size: 0.72rem;
}


/* Darker horizontal rules */
.md-typeset hr {
  border-bottom: 1px solid #9a9a9a;
}


/* Tables: rounded corners + darker grid lines */
.md-typeset table:not([class]) {
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
}

/* Header cells */
.md-typeset table:not([class]) th {
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #b0b0b0;
}

/* Body cells */
.md-typeset table:not([class]) td {
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #b0b0b0;
}

/* Remove extra right border on last column */
.md-typeset table:not([class]) th:last-child,
.md-typeset table:not([class]) td:last-child {
  border-right: none;
}